Source: tel-plugin-database
Section: libs
Priority: extra
Maintainer: DongHoo Park <donghoo.park@samsung.com>
Uploaders: DongHoo Park <donghoo.park@samsung.com>
Build-Depends: debhelper (>= 5),
               libglib2.0-dev, libtcore-dev, dlog-dev, libslp-db-util-dev
Standards-Version: 0.0.0

Package: tel-plugin-database
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: data base access library (Shared Object)

Package: tel-plugin-database-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tel-plugin-database (= ${Source-Version})
Description: data base access library (dbg package)

